@charset "ISO-8859-1";

.form - inline {
        margin: 0 auto;
        display: table;
        max - width: 100 px;
    }

    .form - group {
        padding: 10 px;
    }

    .col - sm - offset - 5, .col - sm - 5 {
        margin - left: 400 px;
    }

    .show {
        display: "block";
    }

    .hide {
        display: "none";
    }